<%- include('header') %>
<div class="row">
  <div class="col-sm">
    <h2>
      Overview
    </h2>
    <p>Chatpot services are built with many API servers. so you have to understand things like how to authenticate/authorize as a member, how to receive asynchronous events... to develop Chatpot apps.</p>
    <p>Following documents will help you understanding about architecture of Chatpot services and how to develop apps using Chatpot API servers.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>
      Authentication
      <small class="text-muted">for authentication, authorization</small>
    </h3>
    <p><a href="http://dev-auth.chatpot.chat/apidoc">API documentation</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>
      Room
      <small class="text-muted">for joining, creating chat rooms</small>
    </h3>
    <p><a href="http://dev-room.chatpot.chat/apidoc">API documentation</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>
      Messaging
      <small class="text-muted">for fetching messages, publishing message</small>
    </h3>
    <p><a href="http://dev-messsage.chatpot.chat/apidoc">API documentation</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>
      Translation
      <small class="text-muted">for translating titles of the rooms or messages</small>
    </h3>
    <p><a href="http://dev-translate.chatpot.chat/apidoc">API documentation</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>
      Websocket
      <small class="text-muted">for receiving events from server</small>
    </h3>
    <p><a href="http://dev-websocket.chatpot.chat/apidoc">API documentation</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>
      Asset
      <small class="text-muted">for sending contents to another user</small>
    </h3>
    <p><a href="http://dev-asset.chatpot.chat/apidoc">API documentation</a></p>
  </div>
</div>
<%- include('footer') %>