<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Chatpot Releases</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
        margin-top: 20px;
      }
    </style>
  </head>
<body>

<main role="main" class="container">

<div class="row">
  <div class="col-sm">
    <h2>
      End User License Agreement (EULA)
    </h2>

    <p>This End User License Agreement is the agreement / terms and conditions between you and Chatpot services for the software products specified above.</p>
    <p>This software product includes computer software and may include related media, printed materials and "online" or electronic documentation ("software products").</p>
    <p>You agree to the terms of this License Agreement upon installation, download, access or use of the Software Product.</p>
    <p>This Agreement shall be governed by and construed in accordance with the terms and conditions set forth by Chatpot services, as it is difficult to notify you in real time of any changes, modifications, Applies in the same way.</p>

    <h4>Article 1. Names and Definitions of Services</h4>
    <p>The name of this program is called "Chatpot services" (hereinafter referred to as "Chatpot"). The name of the developer is called JayJayDee (hereinafter referred to as "developer").</p>
    <p>Definition: A real-time conversation service between users served as web pages or applications for mobile devices.</p>

    <h4>Article 2. Restrict use and suspension</h4>
    <p>For each of the following items, the developer may restrict or stop using the service without prior notice.<br />
        1. You make a hate speech in any chat room.<br />
        2. Sexually humiliated someone in any chat room.<br />
        3. Has the purpose of infringing the intellectual property right or portrait rights of others<br />
        4. Any commercial or commercial operation, directly or indirectly, without the developer's consent.<br />
        5. You have made a statement that is defamatory of others.</p>
  </div>  
</div>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</body>
</html>