<%- include('header') %>

<style>
.col-center {
  float: none;
  margin: 0 auto;
}
</style>

<div class="row col-center">
  <div class="col-sm-6 col-center">
    <h1>Chat with Foreigner.</h1>
    <h1>The easiest way.</h1>

    <h2>Just talk.</h2>
    <h2 class="text-muted"></h2>
  </div>
  <div class="col-sm-6 col-center">
    <img src="/assets/chatpot-iphone.png" class="img-fluid" style="max-width: 80%">
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <hr />
  </div>
</div>
<%- include('footer') %>