<%- include('header') %>

<style>
.col-center {
  float: none;
  margin: 0 auto;
}
</style>

<div class="row col-center">
  <div class="col-sm-6 col-center" style="margin-top: auto; margin-bottom: auto;">
    <div style="margin-right: 20px; margin-top: 20px; margin-bottom: 40px;">
      <img src="/assets/chatpot-logo-large.png" class="img-fluid" />
    </div>
    <h1>Chat with foreigner.</h1>
    <div style="margin-left: 5px;">
      <h1>The easiest way.</h1>
    </div>
    <div style="margin-top: 50px;">
      <h1 class="text-muted">Just talk with your language.</h1>
    </div>
    <div style="margin-top: 20px;">
      <center>
        <a href="https://testflight.apple.com/join/6oknTvIh">
          <img src="/assets/btn-app-store.png" class="img-fluid" style="max-width: 160px;" />
        </a>
        <a href="https://play.google.com/apps/testing/chat.chatpot">
          <img src="/assets/btn-google-play.png" class="img-fluid" style="max-width: 160px;" />
        </a>
      </center>
    </div>
  </div>
  <div class="col-sm-6 col-center" style="margin-left: auto; margin-right: auto; margin-top: 30px;">
    <center>
      <img src="/assets/chatpot-iphone.png" class="img-fluid" style="max-width: 80%">
    </center>
  </div>
</div>
<%- include('footer') %>