<%- include('header') %>
<div class="row">
  <div class="col-sm">
    <h3>
      Chatpot Development Builds
      <small class="text-muted">for android devices</small>
    </h3>
    <p>The following builds are automatically built with CI. so it can contains some bugs. bug reportings are always welcome!</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">

  </div>
</div>
<%- include('footer') %>