<%- include('header') %>
<div class="row">
  <div class="col-sm">
    <h2>
      Privacy Policy
      <small class="text-muted">for Chatpot services</small>
    </h2>
    <p>Hello! I'm JayJayDee. I'm developer of Chatpot services. (from now on referred to as “we” “us” or “our”). This privacy policy has been compiled to serve those who are concerned with how  'Personally identifiable information' (PII) is being used in Branch (from now on referred to as “app” or “Service”). Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in our app.</p>
    <p>By downloading, accessing and/or using our app, you agree to your information being used in accordance with this privacy policy. Also, you understand and agree that we are providing a platform for you to post stories, photos, comments, and other materials ("Content"), to the Service and to share Content publicly. This means that other Users may search for, see, use, or share any of your User Content that you make publicly available through the Service. If you have any concerns about providing information to us or it being used as described in this privacy policy you may contact us at jindongp@gmail.com</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>What information do we collect?</h3>
    <p>Necessary information: Gender, log information (unique identifiable user code, service record, settings, etc.)</p>
    <p>Automatically collected to monitor and improve the effectiveness of our Service: IP Address, access log</p>
    <p>Optional information: Profile image, email address.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>When do we collect personal information?</h3>
    <p>When users use our app (downloading, running, posting, connecting to the network, commenting, etc).When email, gender, during joining as a email account.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>Third-party disclosure</h3>
    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>Does our app allow third-party behavioral tracking?</h3>
    <p>Yes, please understand that we allow third-parties (such as Google) to track information about our users in relation to our app and homepage.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>Advertisements</h3>
    <p>Advertisers that may be found in our Service use personalized ads by collecting data according to their Privacy Policies.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>COPPA (Children Online Privacy Protection Act)</h3>
    <p>We do not specifically market to children under 13.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>Appendix</h3>
    <p>If there are any questions/complaints regarding this Privacy Policy you may contact us using the email address above.</p>
    <p>In the event that we cannot solve your complaint and you choose to take to legal action against us these terms shall be governed by and construed in accordance with the Korean version of this Policy and the laws of the Republic of Korea.<br /><br />Effective Date: 6/19/2019</p>
  </div>
</div>
<%- include('footer') %>